<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>testFile1.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--<logger name="experiment.logback.LogBackTest1" level="debug" additivity="true" >-->
        <!--<appender-ref ref="FILE" />-->
    <!--</logger>-->

    <root level="debug">
        <appender-ref ref="FILE" />
    </root>
    <!--<logger name="experiment" level="ERROR" />-->

</configuration>